name: Node Lint
on:
  push:
    branches:
      - main
    paths:
      - 'web/**'
  pull_request:
    paths:
      - 'web/**'

defaults:
  run:
    working-directory: web

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: web/package-lock.json

      - run: npm ci
    # - run: npm test #TODO add tests
